header {
  border-bottom: 1px solid var(--light-gray);

  .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    position: relative;
    z-index: var(--z-index-nav);
  }

  nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
      'hamburger brand tools' var(--nav-height) / auto 1fr auto;
    align-items: center;
    margin: auto;
    max-width: var(--site-max-width);
    height: var(--nav-height);
    padding: 0 var(--spacing-s);
    font-family: var(--body-font-family);

    &[aria-expanded='true'] {
      grid-template:
        'hamburger brand' var(--nav-height)
        'sections sections' 1fr
        'tools tools' var(--nav-height) / auto 1fr;
      min-height: 100dvh;

      .nav-hamburger-icon {
        &::before,
        &::after {
          top: 3px;
          left: 1px;
          transform: rotate(45deg);
          transform-origin: 2px 1px;
          width: 24px;
          height: 2px;
          border-radius: 2px;
        }

        &::after {
          top: unset;
          bottom: 3px;
          transform: rotate(-45deg);
        }
      }

      .nav-sections {
        overflow-y: scroll;
        height: 100%;
      }
    }

    @media (width >=1024px) {
      display: flex;
      justify-content: space-between;
      gap: 0 var(--spacing-l);
      max-width: var(--site-max-width);

      &[aria-expanded='true'] {
        min-height: 0;
        overflow: visible;

        .nav-sections {
          overflow-y: initial;
          height: unset;
        }
      }
    }

    a:any-link {
      color: currentcolor;

      &:hover {
        text-decoration: none;
      }
    }

    .nav-hamburger {
      grid-area: hamburger;
      height: 22px;
      display: flex;
      align-items: center;

      button {
        height: 22px;
        margin: 0;
        border: 0;
        border-radius: 0;
        padding: 0;
        background-color: var(--background-color);
        color: inherit;
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
      }

      @media (width >=1024px) {
        display: none;
        visibility: hidden;
      }
    }

    .nav-hamburger-icon,
    .nav-hamburger-icon::before,
    .nav-hamburger-icon::after {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 20px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background: currentcolor;
      }
    }

    &[aria-expanded='false'] {
      .nav-hamburger-icon,
      .nav-hamburger-icon::before,
      .nav-hamburger-icon::after {
        height: 2px;
        border-radius: 2px;
        background: currentcolor;
      }

      .nav-hamburger-icon::before {
        top: calc(-1 * var(--spacing-xxs));
      }

      .nav-hamburger-icon::after {
        top: var(--spacing-xxs);
      }
    }

    .nav-brand {
      grid-area: brand;
      flex-basis: 128px;
      font-size: var(--heading-font-size-s);
      font-weight: 700;
      line-height: 1;
      display: flex;
      justify-content: center;
      padding-right: var(--spacing-l);

      @media (width >=1024px) {
        padding-right: 0;
      }

      img {
        width: 128px;
        height: auto;
      }
    }

    /* sections */
    .nav-sections {
      grid-area: sections;
      flex: 1 1 auto;
      display: none;
      visibility: hidden;

      ul {
        list-style: none;
        padding-left: 0;
        font-size: var(--body-font-size-m);

        > li {
          font-weight: 500;

          >a {
            display: flex;
            padding: var(--spacing-xs);
            border-top: 1px solid var(--light-gray);
            align-items: center;

            >i {
              padding-right: var(--spacing-xs);
              font-size: var(--icon-size-l);
            }

            &:hover {
              color: var(--primary);
              border-radius: var(--spacing-xxxs);
            }
          }

          >ul {
            margin-top: 0;

            > li {
              font-weight: 400;
            }
          }

          &.nav-drop:not(:has(> a)) {
            >span {
              width: 100%;
              display: block;
              padding: var(--spacing-xs);
              border-top: 1px solid var(--light-gray);

              @media (width >=1024px) {
                width: unset;
                border-top: 0;
                display: flex;
                padding: var(--spacing-xxs) var(--spacing-s);
              }
            }

            &:last-child>span {
              border-bottom: 1px solid var(--light-gray);

              @media (width >=1024px) {
                border-bottom: 0;
              }
            }

            >ul {
              flex-basis: 100%;
              font-size: var(--body-font-size-s);
            }
          }

          >span>i {
            padding-right: var(--spacing-xs);
            font-size: var(--icon-size-l);
            vertical-align: middle;
          }
        }

        &.nav-nested-list {
          >li {
            >a {
              border-top: 0;
              padding-left: var(--spacing-l);
              margin-top: var(--spacing-s);
            }
          }
        }
      }

      @media (width >=1024px) {
        display: block;
        visibility: visible;
        white-space: nowrap;

        ul {
          display: flex;
          margin: 0;
        }

        .default-content-wrapper {
          margin-left: auto;
          display: flex;

          >ul {
            margin-top: auto;

            >li {
              flex: 0 1 auto;
              position: relative;

              &.nav-drop {
                padding: 0;
                border: 0;
                display: initial;
                position: relative;
                cursor: pointer;
              }

              >a,
              >span {
                padding: var(--spacing-xxs) var(--spacing-s);
                border-radius: var(--spacing-xxxs) var(--spacing-xxxs) 0 0;
                display: inline-block;
                border-top: 0;

                >i {
                  display: none;
                }
              }

              >ul {
                display: none;
                position: relative;

                >li {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;

                  &:last-child {
                    >a,
                    >span {
                      &:hover {
                        border-radius: 0 0 var(--spacing-xxxs) var(--spacing-xxxs);
                      }
                    }

                    & .nav-nested-list li:last-child a {
                      margin-bottom: -3px;
                      border-radius: 0 0 var(--spacing-xxxs) var(--spacing-xxxs);
                    }
                  }

                  &:first-child {
                    >a,
                    >span {
                      &:hover {
                        border-radius: 0 var(--spacing-xxxs) 0 0;
                      }
                    }
                  }

                  >a,
                  >span {
                    padding: var(--spacing-xxs) var(--spacing-s);
                    flex-basis: 100%;

                    &:hover {
                      background: var(--primary);
                      color: var(--white);
                      border-radius: 0;
                    }
                  }

                  &.nav-nested-drop {
                    >a,
                    >span {
                      margin: 0;
                      padding-left: var(--spacing-l);

                      &:hover {
                        background: none;
                        color: var(--primary);
                      }
                    }

                    &:hover {
                      >a,
                      >span,
                      i {
                        color: var(--primary);
                      }
                    }
                  }
                }
              }

              &.no-submenu>a:hover {
                box-shadow: 0 0 0 2px rgba(0 0 0 / 5%);
              }

              &[aria-expanded='true'] {
                >a,
                >span {
                  box-shadow: 0 0 0 2px rgba(0 0 0 / 5%);
                }

                >span:hover {
                  color: var(--primary);
                  cursor: initial;
                }

                >ul {
                  display: block;
                  position: absolute;
                  min-width: 160px;
                  max-width: 370px;
                  width: max-content;
                  white-space: initial;
                  border-radius: 0 var(--spacing-xxxs) var(--spacing-xxxs) var(--spacing-xxxs);
                  z-index: var(--z-index-popover);
                  background-color: var(--white);
                  box-shadow: 1px 1px 3px 0 rgba(100 100 100 / 25%);
                }
              }
            }
          }
        }

        .nav-nested-drop {
          position: relative;
          cursor: pointer;
          padding: 0;

          >i {
            position: absolute;
            left: var(--spacing-xxs);
            top: var(--spacing-xs);
            margin-left: unset;
          }

          &[aria-expanded='true'] {
            > ul {
              display: block;
            }

            &::after {
              transform: translateY(-50%) rotate(90deg);
            }
          }

          >ul {
            padding-left: 0;
            width: 100%;

            >li {
              a {
                padding: var(--spacing-xxs) var(--spacing-xxs) var(--spacing-xxs) var(--spacing-s);
                border-radius: 0;
                border-top: 0;
                margin-top: 0;

                &:hover {
                  background: var(--primary);
                  color: var(--white);
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    .nav-nested-drop {
      padding: var(--spacing-xs) 0;
      border-bottom: 1px solid var(--light-gray);

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        border-top: 1px solid var(--light-gray);
      }

      >i {
        margin-left: var(--spacing-l);
      }

      >ul {
        display: none;
        padding-left: var(--spacing-s);
        margin-top: var(--spacing-xxs);

        li {
          padding: var(--spacing-xxxxs) 0;

          a {
            color: var(--text-color);
            text-decoration: none;
            display: block;
            padding: var(--spacing-xxxxs) var(--spacing-xxs);

            &:has(img) {
              img {
                margin-right: var(--spacing-xxs);
                max-width: 30px;
                height: auto;
                vertical-align: middle;
              }
            }

            &:hover {
              text-decoration: underline;
            }

            .date {
              display: block;
              font-size: var(--body-font-size-xs);
            }
          }
        }
      }

      &[aria-expanded='true'] > ul {
        display: block;
      }
    }

    /* stylelint-disable-next-line no-duplicate-selectors */
    &[aria-expanded='true'] .nav-sections {
      display: block;
      visibility: visible;
      align-self: start;
      margin-left: calc(var(--spacing-s) * -1);
      margin-right: calc(var(--spacing-s) * -1);

      @media (width >=1024px) {
        align-self: unset;
        height: var(--nav-height);
        display: flex;
        margin: 0;
      }
    }

    /* tools */
    .nav-tools {
      grid-area: tools;
      position: absolute;
      top: 0;
      right: var(--spacing-m);

      @media (width >=1024px) {
        position: relative;
        right: unset;
        top: unset;
      }

      @media (width >=1024px) {
        margin-top: auto;
      }

      .default-content-wrapper {
        padding: var(--spacing-m) 0;
      }

      p {
        margin: 0;
        padding: 0;
        line-height: 0;
      }

      i {
        font-size: var(--icon-size-l);
        cursor: pointer;
      }
    }
  }
}