.blog-post-template {
  & main {
    > .section {
      img {
        width: 100%;
      }
    }

    .blog-post-title {
      font-size: var(--heading-font-size-xl);
      font-weight: 800;
      border-bottom: 1px solid var(--light-gray);
      padding-bottom: var(--spacing-s);
      max-width: var(--site-max-width);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }

    >.section:first-of-type {
      text-align: center;

      a {
        color: var(--text-color);

        &:hover {
          color: var(--primary);
        }
      }

      h1 {
        padding-bottom: var(--spacing-s);
        font-size: var(--heading-font-size-xl);
        margin-top: var(--spacing-m);

        @media (width >= 1024px) {
          margin-top: var(--spacing-l);
        }
      }

      h2 {
        margin: var(--spacing-m) 0;
        font-weight: 400;
      }
    }

    .default-content-wrapper {
      text-align: left;

      :is(h2, h3, h4, h5, h6) {
        margin-top: var(--spacing-xxl);
      }
    }
  }

  & .blog-post-info {
    border-bottom: 1px solid var(--light-gray);
    padding: 0;

    & .stay-connected {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 var(--spacing-m);

      @media (width >=1140px) {
        padding: 0;
      }

      :is(h3, h4) {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;

        @media (width >=1024px) {
          margin-right: var(--spacing-s);
        }
      }

      .social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: var(--spacing-s);

        @media (width >=1024px) {
          align-items: center;
        }

        @media (width >=1024px) {
          flex-direction: row;
          margin-top: 0;
        }
      }

      & .share {
        display: flex;
        align-items: center;

        :is(h5, h6, p) {
          font-weight: 400;
          margin: 0 var(--spacing-xxxs);
        }
      }

      & .share-button {
        display: flex;
        align-items: center;
        background: none;
        border: 0;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        position: relative;
        gap: var(--spacing-xxxs);
      }

      & .share-tooltip {
        display: none;
        width: 8rem;
        right: 0;
        top: var(--spacing-l);
        font-size: var(--body-font-size-l);

        i {
          margin-right: var(--spacing-xxxs);
        }
        
        &.visible {
          display: flex;
          flex-direction: column;
        }
      }
    }

    & .blog-metadata {
      text-align: left;
      display: flex;
      justify-content: space-between;
      margin-top: var(--spacing-m);
      border-top: 1px solid var(--light-gray);
      padding: var(--spacing-m);

      @media (width >=1024px) {
        margin-top: 0;
      }

      @media (width >=1024px) {
        border-top: 0;
      }

      @media (width >=1140px) {
        padding-left: 0;
        padding-right: 0;
      }

      i {
        margin-right: var(--spacing-xxxs);
      }

      .author,
      .date {
        display: flex;
        align-items: center;
      }
    }
  }

  & .post-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-xxs);
    margin-top: var(--spacing-m);
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-m);

    & .categories-label {
      font-weight: 600;
    }
  }
}