a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid var(--primary);
  border-radius: 4px;
  padding: 0.5em 1.2em;
  font-size: var(--body-font-size-l);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--white);
  cursor: pointer;
  color: var(--primary);
}

button:disabled,
button:disabled:hover {
  background-color: var(--gray);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid var(--primary);
  color: var(--primary);
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--primary);
  color: var(--white);
}