main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: var(--site-max-width);
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >=1024px) {
  main > .section > div {
    padding: 0 32px;
  }
}

main > .section > .default-content-wrapper {
  text-align: center; /* most of the standard content seems to be centered, can instead this as a section metadata style if needed later */
}