@import url('./variables.css');
@import url('./typography.css');
@import url('./section.css');
@import url('./button.css');
@import url('./icons.css');
@import url('./utils.css');

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--gray);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  font-size: var(--icon-size);
  display: inline-block;
  vertical-align: middle;

  &.size-l {
    font-size: var(--icon-size-l);
  }

  &.size-xl {
    font-size: var(--icon-size-xl);
  }

  &.size-xxl {
    font-size: var(--icon-size-xxl);
  }

  &.size-xxxl {
    font-size: var(--icon-size-xxxl);
  }

  &.size-xxxxl {
    font-size: var(--icon-size-xxxxl);
  }
}

[class*="icon__"] {
  font-family: Pepmdx, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip {
  position: absolute;
  z-index: var(--z-index-tooltip);
  display: none;
  max-width: 276px;
  padding: var(--spacing-xs);
  text-align: left;
  white-space: normal;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}